<ion-view view-title="{{vm.title}}">
  <div class="bar bar-header corver-header">
    <h4 class="title"></h4>
    <ion-settings-button class="button button-clear" ng-click="vm.openSetting()"></ion-settings-button>
  </div>
  <ion-content class="stable-bg">
    <div class="list">
      <div class="item item-bg-img">
        <div class="logo">
          <img src="img/QQ.png">
        </div>
        <div class="text-center">
          <h3>用户名</h3>
          <p>集食送给您最健康.最新鲜的美食享受</p>
        </div>
      </div>
    </div>
    <div class="list light-bg">
      <li class="item item-icon-left item-icon-right">
        <i class="icon ion-chatbox-working balanced"></i>
        我的评价
        <span class="badge badge-assertive">1</span>
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right">
        <i class="icon ion-heart assertive"></i>
        我的收藏
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right">
        <i class="icon ion-android-pin positive"></i>
        我的地址
        <i class="icon ion-ios-arrow-right"></i>
      </li>
    </div>
    <div class="list light-bg">
      <li class="item item-icon-left item-icon-right">
        <i class="icon ion-help-circled energized-900"></i>
        帮助与反馈
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right">
        <i class="icon ion-social-reddit positive-100"></i>
        在线客服
        <i class="icon ion-ios-arrow-right"></i>
      </li>
    </div>
    <div class="list light-bg">
      <li class="item item-icon-left item-icon-right">
        <i class="icon ion-more energized"></i>
        更多
        <i class="icon ion-ios-arrow-right"></i>
      </li>
    </div>
    <div class="lsit light-bg">
      <a class="item">
        <h2 class="text-center assertive">客服热线:027-88877700</h2>
      </a>
    </div>
  </ion-content>
</ion-view>
