<ion-nav-bar class="bar-assertive" align-title="center" no-tap-scroll="true">
  <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-assertive tabs-striped">
  <!-- 主页 -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- 订单 -->
  <ion-tab title="订单" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" ui-sref="tab.indent">
    <ion-nav-view name="tab-indent"></ion-nav-view>
  </ion-tab>

  <!-- 我的 -->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tab.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
