<ion-content style="height: 62vh;">
  <div class="list list-inset">
    <label class="item item-input item-floating-label item-icon-right">
      <i class="icon ion-iphone positive"></i>
      <span class="input-label">用户名</span>
      <input type="text" placeholder="请输入手机号">
    </label>
    <label class="item item-input item-floating-label item-icon-right">
      <i class="icon ion-ios-eye positive"></i>
      <span class="input-label">密码</span>
      <input type="password" placeholder="密码">
    </label>
    <div class="padding-horizontal">
      <button class="button button-block button-radius button-assertive" ui-sref="tab.account">登录</button>
    </div>
  </div>
</ion-content>
