<div class="row light-bg" style="height:150px">
  <div class="col-33 col-center text-center">
    <h1 class="energized">4.9</h1>
    <h4>综合评分</h4>
    <p class="dark">商家好评率96%</p>
  </div>
  <div class="col-67 col-center text-center">
    <div class="row large padding-vertical">
      <div class="col-33 dark">
        配送评分
      </div>
      <div class="col-67 energized">
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star-half"></i>
        <i class="icon ion-ios-star-outline"></i>
        4.9
      </div>
    </div>
    <div class="row large" style="margin-top:25px;">
      <div class="col-33 dark">
        商家评分
      </div>
      <div class="col-67 energized">
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star-half"></i>
        <i class="icon ion-ios-star-outline"></i>
        4.9
      </div>
    </div>
  </div>
</div>
<div class="row row-wrap light-bg padding" style="margin-top: 15px;">
  <button class="button button-small button-dark button-radius button-outline active">
    全部(98)
  </button>
  <button class="button button-small button-dark button-radius button-outline">
    好评(95)
  </button>
  <button class="button button-small button-dark button-radius button-outline">
    中评(2)
  </button>
  <button class="button button-small button-dark button-radius button-outline">
    差评(1)
  </button>
  <button class="button button-small button-dark button-radius button-outline">
    追评(1)
  </button>
  <div style="margin-top: 15px;">
    <i class="icon ion-android-checkbox-outline dark"></i>
    <span class="dark">只看有内容的评价</span>
  </div>
</div>
<div class="list light-bg">
  <a class="item item-avatar">
    <img src="img/QQ.png"/>
    <span class="item-note">2016.06.29</span>
    <h2>王胜利</h2>
    <h4 class="row">
      <div class="col-50 energized">
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star"></i>
        <i class="icon ion-ios-star-half"></i>
        <i class="icon ion-ios-star-outline"></i>
      </div>
      <div class="col-50">32分钟送达</div>
    </h4>
    <h2 class="text-content">
      不错不错,快递哥服务好,弄得我好舒服!不错不错,快递哥服务好,弄得我好舒服!
    </h2>
    <p>
      <i class="icon iconfont" style="font-size: 1em !important;">&#xe624;</i>
      仙蜜草,招牌珍珠奶茶
    </p>
    <p>
      <i class="icon ion-pricetag"></i>
      货品保存完好,骑手服务好,送货快,准时送达
    </p>

  </a>
</div>
