<div class="row row-no-padding light-bg">
  <!-- 左 -->
  <ion-scroll class="col-25">
    <div class="list stable-bg">
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item active">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
      <div class="item">
        {{vm.title}}
      </div>
    </div>
  </ion-scroll>
  <!-- 右 -->
  <ion-scroll class="col-75">
    <div class="list">
      <div class="item item-thumbnail-left">
        <img class="" src="img/QQ.png"/>
        <h2 >鲜芋仙(绿地金融城店)</h2>
        <p class="row row-no-padding">
          <span class="col-50 assertive large">￥17</span>
          <span class="col-50">总销量4270单</span>
        </p>
    <span class="item-note large">
      <i class="icon ion-ios-minus"></i>
      1
      <i class="icon ion-ios-plus assertive"></i>
    </span>
      </div>
      <div class="item item-thumbnail-left">
        <img class="" src="img/QQ.png"/>
        <h2 >鲜芋仙(绿地金融城店)</h2>
        <p class="row row-no-padding">
          <span class="col-50 assertive large">￥17</span>
          <span class="col-50">总销量4270单</span>
        </p>
    <span class="item-note large">
      <i class="icon ion-ios-plus assertive"></i>
    </span>
      </div>
      <div class="item item-thumbnail-left">
        <img class="" src="img/QQ.png"/>
        <h2 >鲜芋仙(绿地金融城店)</h2>
        <p class="row row-no-padding">
          <span class="col-50 assertive large">￥17</span>
          <span class="col-50">总销量4270单</span>
        </p>
    <span class="item-note large">
      <i class="icon ion-ios-plus assertive"></i>
    </span>
      </div>
      <div class="item item-thumbnail-left">
        <img class="" src="img/QQ.png"/>
        <h2 >鲜芋仙(绿地金融城店)</h2>
        <p class="row row-no-padding">
          <span class="col-50 assertive large">￥17</span>
          <span class="col-50">总销量4270单</span>
        </p>
    <span class="item-note large">
      <i class="icon ion-ios-plus assertive"></i>
    </span>
      </div>
    </div>
  </ion-scroll>

</div>
