<div class="list light-bg">
  <div class="item item-icon-left">
    <i class="icon ion-ios-telephone-outline"></i>
    18627949465
  </div>
  <div class="item text-content item-icon-left item-icon-right">
    <i class="icon ion-ios-location-outline"></i>
    武汉绿地金融城
    <i class="icon ion-ios-arrow-right"></i>
  </div>
  <div class="item item-icon-left item-icon-right">
    <i class="icon ion-image"></i>
    商家环境
    <span class="badge badge-assertive">new</span>
    <i class="icon ion-ios-arrow-right"></i>
  </div>

  <div class="item item-icon-left">
    <i class="icon ion-ios-clock-outline"></i>
    配送时间：10:10-21:00
  </div>


</div>
